asgiref
backports.zoneinfo
certifi
charset-normalizer
cloudinary
colorama
cuss-inspect
cycler
dj-database-url
django
django-autoslug
django-cloudinary-storage
django-crispy-forms
django-heroku
fasttext
filelock
fonttools
geographiclib
geopy
gunicorn
huggingface-hub
idna
joblib
kiwisolver
lightgbm
matplotlib
numpy
packaging
pandas
Pillow
plotly
psycopg2
pyarrow
pybind11
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
scikit-learn
scipy
seaborn
six
sklearn
sqlparse
tenacity
threadpoolctl
tk
tokenizers
tqdm
typing_extensions
tzdata
urllib3
whitenoise
