<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="styleshrrt" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../../style.css" />
    <title>Counseller</title>
  </head>
  <body>
    <nav class="navbar bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Geno</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
          style="background-color: #e3f2fd"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Geno</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#featurre"
                  >Fetures</a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="index.html"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Role
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="teachers.html">Teacher</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="student_dashboard.html"
                      >Student</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="weekly_servey.html"
                  >Weekly Survey</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div
      class="container1"
      style="
        background-image: url('../static/images/coun-her.jpg');
        background-size: cover;
        height: 400px;
      "
    ></div>

    <div
      class="card"
      style="
        width: 18rem;
        margin-top: -290px;
        margin-left: 20px;
        background-color: #fff;
        opacity: 0.8;
        border-radius: 12px;
        width: 360px; ;
      "
    >
      <div class="card-body">
        <h5
          class="card-title"
          style="
            color: #ff940f;
            font-weight: 800;
            font-size: 30px;
            text-align: center;
          "
        >
          Talk. Resolve. Heal.
        </h5>
        <p
          class="card-text"
          style="
            color: #000;
            font-size: 15px;
            line-height: 30px;
            margin-left: 20px;
          "
        >
          Online Counselling Therapy <br />With Top Psychologists<br />Anytime,
          Anywhere, Any device.
        </p>
        <a
          href="#"
          class="btn btn-primary"
          style="
            background-color: #ff940f;
            border-color: #ff940f;
            margin-left: 20px;
          "
          >Get Started</a
        >
      </div>
    </div>

    <div style="margin-top: 90px; margin-bottom: 15px">
      <h1 style="text-align: center">Choose Help. Not Suffering.</h1>
    </div>
    <div
      style="border-top: 5px solid #ff940f; width: 100px; margin: 20px auto"
    ></div>

    <div class="container">
      <div class="row">
        <div
          class="col"
          style="
            background-image: url('../static/images/Counselor-Name.png');
            background-repeat: no-repeat;
            height: 300px;
          "
        >
          <a
            href="#"
            class="btn btn-primary"
            style="
              background-color: #ff940f;
              border-color: #ff940f;
              margin-left: 158px;
              margin-top: 320px;
            "
            >View All Counselors</a
          >
        </div>
        <div class="col">
          <h4>Counselling Therapy Sessions With Licensed & Verified Experts</h4>
          <p style="font-size: 15px; line-height: 35px">
            Highly qualified team of some of the best names in psychology who
            deliver improved well-being to you. Carefully vetted through a
            rigorous selection process. Trained and experienced in all
            psychotherapy techniques.
          </p>
          <div class="container text-center">
            <div class="row">
              <div class="col">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="50"
                  height="50"
                  fill="#ff940f"
                  class="bi bi-camera-video-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z"
                  />
                </svg>
                <h5>Video Sessions</h5>
              </div>
              <div class="col">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="50"
                  height="50"
                  fill="#ff940f"
                  class="bi bi-mic-fill"
                  viewBox="0 0 16 16"
                >
                  <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z" />
                  <path
                    d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"
                  />
                </svg>
                <h5>Audio Sessions</h5>
              </div>
              <div class="col">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="50"
                  height="50"
                  fill="#ff940f"
                  class="bi bi-chat-left-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
                  />
                </svg>
                <h5>Chat Sessions</h5>
              </div>
            </div>
          </div>
          <p
            style="
              font-size: 12px;
              line-height: 35px;
              font-weight: 600;
              margin-top: 20px;
            "
          >
            English And All Regional Indian Languages <br />100% Private &
            Secure Platform <br />24/7 Support
          </p>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
